.menu-container {
    background: $color-background-first;
    padding: $container-padding;
    border-radius: 30px 30px 0 0;
    position: relative;
    bottom: 26px;
    margin-bottom: -26px;
    &__type {
        @media screen and (min-width: $bp-medium) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        & i {
            font-size: 1.5em;
            position: relative;
            right: 30px;
        }
    }
}

.card-menu {
    @include flex-menu;
    padding-top: 20px;
    @media screen and (min-width: $bp-medium) {
        width: 30%;
    }
    &__type {
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 400;
        &::after {
            content: "";
            display: block;
            width: 46px;
            padding-top: 6px;
            border-bottom: 3px solid $color-tertiary;
        }
    }
    &-dish {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: $box-shadow-first;
        border-radius: 20px;
        background-color: white;
        padding: 14px;
        margin-bottom: 16px;
        overflow: hidden;
        animation: fadein 1s;
        animation-fill-mode: backwards;

        @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 150ms;
            }
        }


        &__name {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            & p, h3 {
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    
        &__price {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
    
        &__add {
            @include flex-column;
            background: $color-tertiary;
            transition: 0.5s;
            margin: -1rem -5rem -1rem 1rem;
            width: 4rem;
        }
    
        &:hover &__add {
            margin-right: -1rem;
          }

        &__icon-container {
            display: flex;
            color: white;
            height: 5rem;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
        }
        &:hover &__icon-container {
            transform: rotate(360deg);
          }
        
        &__icon {
            font-size: 1.5rem;
        }
        
    }
}
