.explore {
    @include flex-column;
    text-align: center;
    padding: 10%;
    background-color: $color-background-first;
}

.how-to {
    @include flex-column;
    padding: $container-padding;
}

.restaurant {
    background-color: $color-background-first;
    width: 100%;
    padding: $container-padding;
    &__list {
        @include flex-column;
    }
    &__card {
        display: block;
        align-items: center;
        width: 100%;
        background: white;
        border-radius: 20px;
        margin: 14px 0;
        height: 250px;
        box-shadow: $box-shadow-first;
    }
    &__img {
        @include img-container;
        & img {
        @include img-ratio;
        }
    }
    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        padding: 0 16px 0 16px;
        overflow: hidden;
        &-2 h3, p {
            margin: 0;
        }
    }
    & a {
        @include text-links;
    }

}

.top-img {
    @include top-img-container;
    & img {
        @include img-ratio;
    }
}

.fa-heart {
    text-shadow: 0px 0px 3px black;
    color: white;
    &--hover {
        color: linear-gradient($color-secondary, $color-primary);
    }
  
}

