@mixin btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 30px;        
    font-weight: 500;
    border: 0;
    color: white;
    width: 180px;
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    padding: 16px;
    box-shadow: $box-shadow-second;
    &:hover {
        background: linear-gradient(170deg, lighten($color-secondary, 10), lighten($color-primary, 10));
        box-shadow: $box-shadow-third;
    }
}

@mixin top-img-container {
    height: 255px;
    width: 100%;
    overflow: hidden;
}

@mixin img-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0;
}

@mixin img-ratio {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-menu {
    display: flex;
    flex-direction: column;
}


@mixin text-links {
    text-decoration: none;
    color: black;
}

