$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background-first: #f6f6f6;
$color-background-second: #eaeaea;
$color-background-third: #353535;

$padding-slot-first: 16px 0 16px 0;
$container-padding: 34px 20px;

$box-shadow-first: rgba(0, 0, 0, 0.08) 0px 4px 12px;
$box-shadow-second: rgba(0, 0, 0, 0.2) 0px 4px 12px;
$box-shadow-third: rgba(0, 0, 0, 0.6) 0px 4px 12px;


$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1440px;